body {
  background-color: #f3f0f0;
  font-family: 'Nunito', sans-serif;
}

button {
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: rgb(3, 163, 86);
  border: none;
  color: white;
  font-size: 20px;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: rgb(14, 193, 106);
  }

  &:active {
    background-color: rgb(14, 113, 65);
  }

  &:focus {
    outline: 1px solid rgb(14, 113, 65);
  }
}
