$white: rgb(252, 243, 226);
$black: rgb(43, 43, 43);

$brown: rgb(169, 87, 0);
$orange: rgb(231, 150, 1);

$purple: rgb(190, 20, 180);
$lavender: rgb(230, 80, 210);

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 90vmin;
  border: 2px solid #777;
  box-shadow: 3px 3px 10px -2px rgb(75, 75, 75);
  margin: 0 auto;

  &__cell {
    text-align: center;
    position: relative;

    &::before {
      padding-bottom: 100%;
      content: '';
      display: block;
    }

    &.white {
      background-color: $lavender;
    }

    &.black {
      background-color: $purple;
    }

    &.valid-move {
      background-color: rgb(229, 255, 0);
    }

    .piece {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 65%;
      aspect-ratio: 1;
      border-radius: 50%;
      margin: auto;
      z-index: 1;
      background-position: center 85%;
      background-repeat: no-repeat;
      background-size: 70%;
      box-shadow: 3px 3px 10px -2px rgb(75, 75, 75);

      &.white {
        background-color: $white;
        color: $black;

        &.king {
          background-image: url('../assets/images/crown-black.svg');
        }
      }

      &.black {
        background-color: $black;
        color: $white;

        &.king {
          background-image: url('../assets/images/crown-white.svg');
        }
      }
    }
  }
}
